/module3/courseExample/node_modules/
/module5/assignment/node_modules/
/module5/assignment_with_wtf/node_modules/
/module5/courseExample/node_modules/
/module6/assignment/node_modules/
/module6/courseExample/node_modules/
