<!DOCTYPE html>
<html lang="en">
<%- include('includes/header'); -%>
<body>
<form action="/user" method="post">
    <input type="text" name="user">
    <button type="submit">Submit</button>
</form>
Home page
</body>
</html>